/* 
    Style général de la page.
*/
body {
    font-family: "Poppins", Arial, sans-serif;
    background: linear-gradient(135deg, #eef6ff, #ffffff);
    color: #1f2937;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* 
    En-tête principal.
*/
header {
    background-color: #0f172a;
    color: white;
    padding: 30px;
    text-align: center;
}

/* 
    Titre principal h1.
*/
h1 {
    color: #38bdf8;
    font-size: 42px;
    margin-bottom: 10px;
}

/* 
    Sous-titres de section.
*/
h2 {
    color: #0f172a;
    font-size: 28px;
}

/* 
    Navigation principale.
*/
nav {
    margin-top: 20px;
}

/* 
    Style général des liens.
*/
a {
    color: #0284c7;
    text-decoration: none;
    font-weight: 600;
}

/* 
    Effet simple quand la souris passe sur un lien.
*/
a:hover {
    color: #0369a1;
    text-decoration: underline;
}

/* 
    Liens dans le header.
*/
header a {
    color: #ffffff;
    margin: 0 8px;
}

/* 
    Zone principale du contenu.
*/
main {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

/* 
    Sections de contenu.
*/
section {
    background-color: #ffffff;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
}

/* 
    Image principale.
*/
img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

/* 
    Listes de fonctionnalités.
*/
ul {
    padding-left: 25px;
}

/* 
    Éléments de liste.
*/
li {
    margin-bottom: 8px;
}

/* 
    Elle met en valeur un élément important.
*/
.highlight {
    background-color: #15263e;
    padding: 18px;
    border-left: 5px solid #0284c7;
    border-radius: 8px;
    font-weight: 600;
}

/* 
    Pied de page.
*/
footer {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}

/* 
    Ligne de séparation.
*/
hr {
    border: none;
    border-top: 1px solid #e5e7eb;
    margin: 25px 0;
}

/*
CSS appliqué au block Box Model
*/

.box {
    background-color: #e0f2fe;
    color: #0f172a;

    /* 
    bordure visible autour de la boîte.
    */
    border: 3px solid #0284c7;

    /* 
        espace intérieur entre le texte et la bordure.
    */
    padding: 25px;

    /* 
    espace extérieur autour de la boîte.
    */
    margin: 30px 0;

    /* 
    arrondir les coins de la boîte.
    */
    border-radius: 16px;

    /* 
    rendre l'effet hover plus fluide.
    */
    transition: 0.3s ease;
}

/* 
    Titre à l'intérieur de la boîte.
*/
.box h3 {
    margin-top: 0;
    color: #0369a1;
}

/* 
 effet au survol de la boîte.
*/
.box:hover {
    background-color: #bae6fd;
    box-shadow: 0 10px 25px rgba(2, 132, 199, 0.25);
}